.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  @media (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.two {
  background: darkgoldenrod;
}
