:root {
  --gap-s: 5px;
  --gap-m: 10px;
  --gap-l: 20px;
  --gap-x: 40px;
  --pad-n: 0;
  --pad-s: 5px;
  --pad-m: 10px;
  --pad-l: 20px;

  --charcoal-sage: #6a7b6f;
  --deep-emerald: #42665c;
  --dusty-emerald: #5a8c7e;
  --dark: #222;

  --back: rgba(0,0,0,0.2);
  --border: 1px solid #333;
  --radius: 4px;
  --shadow: 0 4px 8px rgba(0,0,0,0.5);

  --green: rgba(0,255,0,0.3);
  --red: rgba(255,0,0,0.5);
  --yellow: rgba(255,255,0,0.7);
}

* {
  box-sizing: border-box;
  color: var(--dark);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  background: var(--charcoal-sage);
  color-scheme: dark;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  grid-area: main;
  min-height: 0;
}

footer {
  bottom: 0;
  grid-area: footer;
  position: sticky;
}

nav {
  align-items: center;
  display: grid;
  grid-template-areas:
    "left center right";
  grid-template-columns: 1fr auto 1fr;
  gap: var(--gap-l  );
  margin: 0;
  padding: var(--pad-s);
}

nav > * {
  align-items: center;
  display: flex;
  justify-content: center;
}

.left {
  grid-area: left;
  justify-self: end;
}

.center {
  grid-area: center;
  justify-self: center;
}

.right {
  display: flex;
  grid-area: right;
  justify-self: start;
}

.left a, .right a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  gap: var(--gap-m);
  justify-self: center;
  list-style-type: none;
}

nav a {
  border-radius: var(--radius);
  font-size: 1.2rem;
  margin: 0;
  padding: 0.2rem 0.2rem;
  text-decoration: none;
  text-shadow: var(--shadow);
  transition: transform 0.2s ease;
}

.left, .center, .right {
  align-items: center;
  display: flex;
}

nav a.active {
  font-weight: 600;
  transform: scale(1.05);
}

nav ul li a {
  background: var(--deep-emerald);
  border: var(--border);
  box-shadow: var(--shadow);
  text-shadow: none;
}

@media (max-width: 486px) {
  nav {
    grid-template-areas:
      "left"
      "center"
      "right";
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left {
    justify-self: center;
  }

  .right {
    justify-self: center;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 486px) {
}

.right a[href*="researchgate"] i {
  box-shadow: var(--shadow);
  color: var(--charcoal-sage) !important;
}

.right a[href*="researchgate"] sup {
  box-shadow: var(--shadow);
  color: var(--charcoal-sage) !important;
}

#forum {
  font-size: 1.7rem;
}

#github {
  font-size: 1.7rem;
}

#research-gate {
  align-items: center;
  background: #222;
  border-radius: 4px;
  color: #066;
  display: inline-flex;
  font-size: 1.0rem;
  font-weight: bold;
  height: 1.5em;
  justify-content: center;
  width: 1.5em;
}

.sup {
    color: inherit;
    position: relative;
    top: -0.3em;
}
