:root {
  --gap-s: 5px;
  --gap-m: 10px;
  --gap-l: 20px;
  --pad-n: 0;
  --pad-s: 5px;
  --pad-m: 10px;
  --pad-l: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html {
  background: darkslategrey;
  color: black;
  color-scheme: dark only;
  forced-color-adjust: none;
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background: yellow;
  position: sticky;
  top: 0;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--gap-l);
  padding: var(--pad-s);
}

nav > h1 {
  justify-self: start;
}

nav > ul {
  justify-self: center;
}

nav > h2 {
  justify-self: end;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: var(--gap-m);
}

main {
  display: grid;
  background: cyan;
  min-height: 0;
}

.container {
  display: grid;
  gap: var(--gap-m);
  height: 100%;
  min-height: 0;
  padding: var(--pad-m);
}

@media (max-width: 768px) {
  .container {
    padding: var(--pad-s);
    gap: var(--gap-s);
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    padding: var(--pad-s);
  }
}

footer {
  background: magenta;
  position: sticky;
  bottom: 0;
}
