@font-face {
  font-family: 'blacksword';
  src: url('blacksword.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
}

.dark {
  background-color: #181818;
  color: darkcyan;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'blacksword', sans-serif;
}

h1, h2 {
  margin: 10px;
}

.heart {
  width: 50px;
  height: 50px;
  background-color: darkred;
  position: relative;
  transform: rotate(-45deg);
  animation: beat 1s infinite;
  margin-top: 50px;
  margin-bottom: 30px;
}

.heart::before,
.heart::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: darkred;
  border-radius: 50%;
}

.heart::before {
  position: absolute;
  top: -25px;
  left: 0;
}

.heart::after {
  position: absolute;
  left: 25px;
}

@keyframes beat {
  0%, 100% {
    transform: scale(1) rotate(-45deg);
  }
  
  50% {
    transform: scale(1.2) rotate(-45deg);
  }
}
