<footer class="footer has-background-dark has-text-light">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="content mt-3 has-text-centered">
          <span class="mr-4">
            <i class="fas fa-phone mr-2" style="color: yellow;"></i>[NL]6.4744.3505
          </span>
          <span class="mr-4">
            <i class="fas fa-envelope mr-2" style="color: cyan;"></i>max8[at]post[dot]cz
          </span>
          <span class="mr-4">
            <i class="fas fa-location-dot mr-2" style="color: magenta;"></i>2135RB Hoofddorp, Holland
          </span>
        </div>
      </div>
    </div>

    <hr class="has-background-grey">

    <div class="content has-text-centered">
      <p>
        <strong class="has-text-light">Mikes Consult</strong>
      </p>
    </div>
  </div>
</footer>
