<header class="header">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('index') }}">
            <i class="fas fa-circle-nodes fa-lg mr-2" style="color: yellow;"></i>
            <strong>Mikes Consult</strong>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">
              <i class="fas fa-home mr-2" style="color: yellow;"></i>Home
            </a>
            <a class="navbar-item" href="{{ url_for('service') }}">
              <i class="fas fa-cogs mr-2" style="color: cyan;"></i>Service
            </a>
            <a class="navbar-item" href="{{ url_for('contact') }}">
              <i class="fas fa-envelope mr-2" style="color: magenta;"></i>Contact
            </a>
          </div>

          <a href="https://researchgate.net/profile/Daniel-Mikes" className="icon-holder" >
            <FaResearchgate className="icon rg" />
          </a>


          <div class="navbar-end">
            <div class="navbar-item">
              <a class="icon has-text-light mr-2" href="https://github.com/danmikes">
                <i class="fab fa-github fa-lg" style="color: yellow;"></i>
              </a>
              <a class="icon has-text-light mr-2" href="https://linkedin.com/in/dmikes">
                <i class="fab fa-linkedin fa-lg" style="color: cyan;"></i>
              </a>
              <a class="icon has-text-light" href="https://researchgate.net/profile/Daniel-Mikes">
                <i class="fab fa-researchgate fa-lg" style="color: magenta;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {
      const target = el.dataset.target;
      const $target = document.getElementById(target);
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');
    });
  });
});
</script>