{% extends 'base.htm' %}

{% block title %}Mikes Consult - Service{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-1 has-text-centered has-text-light">Service</h1>

    <div class="columns is-multiline">
      <div class="column is-6-tablet is-3-desktop">
        <div class="card service-card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-users fa-2x" style="color: green;"></i>
                </span>
              </div>
              <div class="media-content">
                <h3 class="title is-4 has-text-light">Coaching</h3>
                <ul>
                  <li>Cohesion</li>
                  <li>Communication</li>
                  <li>Conflict</li>
                  <li>Instruction</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6-tablet is-3-desktop">
        <div class="card service-card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-info">
                  <i class="fas fa-file-code fa-2x" style="color: magenta;"></i>
                </span>
              </div>
              <div class="media-content">
                <h3 class="title is-4 has-text-light">Codebase</h3>
                <ul>
                  <li>Design</li>
                  <li>Functionality</li>
                  <li>Structure</li>
                  <li>User Experience</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6-tablet is-3-desktop">
        <div class="card service-card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-cogs fa-2x" style="color: cyan;"></i>
                </span>
              </div>
              <div class="media-content">
                <h3 class="title is-4 has-text-light">Management</h3>
                <ul>
                  <li>Coordination</li>
                  <li>Project Planning</li>
                  <li>Project Management</li>
                  <li>Technical Advice</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6-tablet is-3-desktop">
        <div class="card service-card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-large has-text-primary">
                  <i class="fas fa-route fa-2x" style="color: yellow;"></i>
                </span>
              </div>
              <div class="media-content">
                <h3 class="title is-4 has-text-light">Workflow</h3>
                <ul>
                  <li>Coding</li>
                  <li>Feedback</li>
                  <li>Requirements</li>
                  <li>Support</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
