{% extends "base.htm" %}

{% block title %}Analysis{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('analysis.static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="three">Period</div>
  <div class="three">Amplitude</div>
  <div class="three">Default</div>
  <div class="three">Period mod</div>
  <div class="three">Amplitude mod</div>
  <div class="three">Phase</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('analysis.static', filename='script.js') }}"></script>
{% endblock %}
