<nav>
  <h1><a href="{{ url_for('base.index') }}">SamSim</a></h1>
  <ul>
    <li><a href="{{ url_for('info.view') }}">Info</a></li>
    <li><a href="{{ url_for('dashboard.view') }}">Dashboard</a></li>
    <li><a href="{{ url_for('analysis.view') }}">Analysis</a></li>
    <li><a href="{{ url_for('setting.view') }}">Setting</a></li>
    <li><a href="{{ url_for('help.view') }}">Help</a></li>
  </ul>
  <h2><a href="https://researchgate.net/profile/Daniel-Mikes" target="_blank" rel="noopener noreferrer" class="icon-holder">
    <i class="fab fa-researchgate icon rg"></i>
  </a></h2>
</nav>
